extends layout

block content
  div(class="div-center")
    if (currentUser)
      h1="Hello " + currentUser.fullName
      a(href="/users/logout") Logout 

    h1(class="text-center mb-2 font-lg") Live Feed
