doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="preconnect" href="https://fonts.googleapis.com")
    link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
    link(href="https://fonts.googleapis.com/css2?family=Protest+Strike&display=swap" rel="stylesheet")
    title Clubhouse Connect
    link(rel='stylesheet', href='/stylesheets/style.css')
  body(class="layout-container")
    header
      a(href="/", class="home-nav bold")  Clubhouse Connect
      if (!currentUser)
        nav
          ul
            li
              a(href="/users/create") Sign-up
            li
              a(href="/users/login") Login
      else
        if (currentUser.role === "member") 
          nav 
            ul 
              li 
                a(href="/users/upgrade", class="gold-hover") Upgrade to Gold
              li 
                a(href="/users/logout") Logout
        else 
          nav 
            ul 
              li 
                a(href="/users/logout") Logout
    main
      block content
    footer
      p © 2024 Clubhouse Connect. All rights reserved.