doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Clubhouse Connect
    link(rel='stylesheet', href='/stylesheets/style.css')
  body(class="layout-container")
    header
      a(href="/", class="home-nav")  Clubhouse Connect
      nav
        ul
          li
            a(href="/users/create") Sign-up
          li
            a(href="/users/login") Login
          li
            a(href="#") Contact
    main
      block content
    footer
      p © 2024 Clubhouse Connect. All rights reserved.