extends layout 
block content
    form(class="form-width flex-col w-full square-border", method="post")
        h1(class='text-center mb-1 font-lg') Login
        if (invalidLogin)
            div(class="error font-xs text-center mb-1")=invalidLogin
        label(for="email") Email
        input(type="email", required, value=email, placeholder="John@gmail.com", id="email", name="email", class="mb-xs")
        label(for="password") Password
        input(type="password", required, id="password", name="password", class="mb-xs") 
        p(class="mb-1") New here?  
            a(href="/users/create", class="clr-main") Create an account 
        button(class="bg-main") Login