* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Protest Strike", sans-serif;
  font-weight: 400;
  font-style: normal;
}

a {
  text-decoration: none;
}

html {
  min-height: 100vh;
  font-size: 16px;
  --bg-main: rgb(184, 28, 184);
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 2rem 1rem 1rem;
  background-color: var(--bg-main);
}

header ul {
  list-style: none;
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
}

header a {
  color: white;
  font-weight: 500;
}

header a:hover {
  color: black;
}

.home-nav {
  font-size: 2.5rem;
  font-weight: 900;
  letter-spacing: 0.1rem;
}

nav ul li a {
  font-size: 1.4rem;
}

main {
  flex: 1;
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
}

footer {
  text-align: center;
  background-color: var(--bg-main);
  color: white;
}

form label {
  font-size: 1.3rem;
  font-weight: 500;
}

textarea,
form input {
  padding: 0.5rem;
  font-size: 1rem;
}

.link-btn,
button {
  transition: transform 0.3s ease-in-out;
  padding: 1rem;
  font-size: 1rem;
  font-weight: 700;
  outline: none;
  border: 2px solid black;
  color: white;
  font-weight: 200;
}

.link-btn {
  text-decoration: none;
  text-align: center;
}

.link-btn,
button:hover {
  cursor: pointer;
  transform: scale(1.08);
}

ul {
  list-style-position: inside;
}

.layout-container {
  display: flex;
  flex-direction: column;
  min-height: inherit;
  gap: 2rem;
}

.square-border {
  border: 2px solid black;
  padding: 2rem;
  border-radius: 1rem;
}

.gold-hover:hover {
  color: rgb(231, 175, 20);
}

.create-post-btn {
  position: fixed;
  bottom: 2rem;
  right: 1rem;
  background-color: var(--bg-main);
  padding: 1rem 2rem;
  color: white;
  border: 2px solid black;
  border-radius: 1rem;
  font-weight: 400;
  text-decoration: none;
  transition: transform 0.3s ease-in-out;
}

.create-post-btn:hover {
  transform: scale(1.08);
}

.post-card {
  border: 2px solid black;
  border-radius: 1rem;
  padding: 2rem;
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  margin-bottom: 1rem;
}

.post-details {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  opacity: 0.5;
}

/** util classes **/

.text-gold {
  color: rgb(231, 175, 20);
}

.error {
  color: red;
}

.form-width {
  max-width: 25%;
}

.clr-main {
  color: var(--bg-main);
}

.font-xl {
  font-size: 3rem;
}

.font-lg {
  font-size: 2.5rem;
}

.font-md {
  font-size: 2rem;
}

.font-sm {
  font-size: 1.5rem;
}

.font-xs {
  font-size: 1rem;
}

.font-light {
  font-weight: 200;
}

.bold {
  font-weight: 900;
}

.mw-25 {
  max-width: 25%;
}

.mt-1 {
  margin-top: 1rem;
}
.mt-2 {
  margin-top: 2rem;
}

.mb-xs {
  margin-bottom: 0.5rem;
}

.mb-1 {
  margin-bottom: 1rem;
}

.mb-2 {
  margin-bottom: 2rem;
}

.gap-1 {
  gap: 1rem;
}

.w-full {
  width: 100%;
}

.gap-2 {
  gap: 2rem;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.text-center {
  text-align: center;
}

.bg-main {
  background-color: var(--bg-main);
}

.div-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.capitalize {
  text-transform: capitalize;
}

@media screen and (max-width: 900px) {
  .form-width {
    max-width: 100%;
  }
}

@media screen and (min-width: 900px) {
  .form-width {
    max-width: 75%;
  }
}

@media screen and (min-width: 1340px) {
  .form-width {
    max-width: 40%;
  }
}
